<div class="jumbotron">
  <h1 class="display-4">Cookbook App!</h1>
  <p class="lead">Browse all recipes here</p>
</div>

<div class="card-columns">
  <% @recipes.each do |recipe| %>

    <div class="card">
      <img src="<%= recipe.image_url %>" class="card-img-top" alt="...">
      <div class="card-body">
        <h5 class="card-title"><%= recipe.title %></h5>
        <p class="card-text">Ingredients: <%= recipe.ingredients %></p>
        <a href="/recipes/<%= recipe.id %>" type="button" class="btn btn-outline-success btn-sm">More Info</a>
      </div>
    </div>

  <% end %>
</div>